html, body {
    height: 100%;
}
.myflex {
    display: flex;
    flex-direction: column;
    align-content: stretch;
    height: 100%;
    flex: 1;
}

.container {
    width: 100%;
}
.container.content {
    display: flex;
    width: 100%;
    position: relative;
    flex: 1;
    padding: 0;
}

.navbar {
    background-color: rgb(45, 83, 118);
    text-align: center;
    color: white;
}

.row-footer {
    width: 100%;
    margin: 0px auto;
    padding: 10px 20px 10px 10px;
    background-color: white;
    border-top: 1px solid rgb(45, 83, 118);
}

.glyphicon.glyphicon-send {
    font-size: 30px;
    color: rgb(45, 83, 118);
}

.messages
{
    padding: 5px;
    width: 100%;
    background-color: white;
    overflow-y: scroll;
}

.messages ul
{
    padding: 60px 0 10px 0;
    list-style-type: none;
}

.messages ul li
{
    height: auto;
    margin-bottom: 10px;
    clear: both;
    padding-left: 10px;
    padding-right: 10px;
}

.messages ul li span
{
    display: inline-block;
    max-width: 96%;
    min-width: 96%;
    background-color: rgba(232, 237, 243, 0.65);
    padding: 5px;
    border-radius: 8px;
    position: relative;
}

.messages ul li span.left
{
    float: left;
}

.messages ul li span.left:after
{
    content: "";
    display: inline-block;
    position: absolute;
    left: -8.5px;
    top: 7px;
    height: 0px;
    width: 0px;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-right: 9px solid rgba(232, 237, 243, 0.65);
}

.messages ul li span.left:before
{
    content: "";
    display: inline-block;
    position: absolute;
    left: -9px;
    top: 7px;
    height: 0px;
    width: 0px;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
}

.messages ul li div.time-left
{
    float: left;
    color: grey;
    font-size: 12px;
    padding: 5px;
}

.messages ul li span.right:after
{
    content: "";
    display: inline-block;
    position: absolute;
    right: -8px;
    top: 6px;
    height: 0px;
    width: 0px;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 9px solid rgb(219, 243, 255);
}

.messages ul li span.right:before
{
    content: "";
    display: inline-block;
    position: absolute;
    right: -9px;
    top: 6px;
    height: 0px;
    width: 0px;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
  //  border-left: 8px solid grey;
}

.messages ul li span.right
{
    float: right;
    background-color: rgb(219, 243, 255);
}

.clear
{
    clear: both;
}

.messages ul li div.time-right
{
    float: right;
    color: grey;
    font-size: 12px;
    padding: 5px;
}

.input-box
{
    background-color: white;
    height: 50px;
    padding: 0px;
}

.input-box textarea
{
    width: 100%;
    height: 100%;
    display: inline-block;
    border: 0;
    resize: none;
    font-size: 16px;
    padding: 10px;
    overflow-y: scroll;
}



